@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat:300,400,700,800|Open+Sans:300,600");

#products-container{
    display: flex;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
    transition: 200ms;
    background: #fff;
    width: 500px;
    min-height: 500px;
    margin: 2em auto;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.card .card__title {
    display: flex;
    align-items: center;
    padding: 30px 40px;
}

.card .card__title h3 {
    flex: 0 1 200px;
    text-align: right;
    margin: 0;
    color: #252525;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

.card .card__title .icon {
    flex: 1 0 10px;
    background: #115dd8;
    color: #fff;
    padding: 10px 10px;
    transition: 200ms;
}

.card .card__title .icon>a {
    color: #fff;
}

.card .card__title .icon:hover {
    background: #252525;
}

.card .card__body {
    display: flex;
    flex-flow: row no-wrap;
    margin-bottom: 25px;
}

.card .card__body>.half {
    width: 50%;
    box-sizing: border-box;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.card .card__body .featured_text h3 {
    margin: 0 0 30px 0;
    padding: 0;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #181e28;
}

.card .card__body .featured_text p {
    margin: 0;
    padding: 0;
}

.card .card__body .featured_text p.sub {
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    color: #686e77;
    font-weight: 300;
    margin-bottom: 5px;
}

.card .card__body .featured_text p.price {
    font-family: "Fjalla One", sans-serif;
    color: #252525;
    font-size: 26px;
}

.card .card__body .image {
    padding-top: 15px;
    width: 100%;
}

.card .card__body .image img {
    display: block;
    max-height: 140px;
    border-radius: 20px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
}

.card .card__body .description {
    margin-bottom: 25px;
}

.card .card__body .description p {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 27px;
    font-size: 16px;
    color: #555;
}

.card .card__body span.stock {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #a1cc16;
}

.card .card__body span.category {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #252525;
}

.card .card__body .reviews .stars {
    display: inline-block;
    list-style: none;
    padding: 0;
}

.card .card__body .reviews .stars>li {
    display: inline-block;
}

.card .card__body .reviews .stars>li .fa {
    color: #f7c01b;
}

.card .card__body .reviews>span {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin-left: 5px;
    color: #555;
}

.card .card__footer {
    padding: 10px 40px;
    display: flex;
    flex-flow: row no-wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card .card__footer .recommend {
    flex: 1 0 10px;
}

.card .card__footer .recommend p {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: #555;
}

.card .card__footer .recommend h3 {
    margin: 0;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #115dd8;
}

.card .card__footer .action button {
    display: block;
    cursor: pointer;
    border: 1px solid #010216;
    padding: 14px 30px;
    border-radius: 200px;
    color: #fff;
    background: #080a30;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    transition: 200ms;
    margin: 0 auto;
}

.card .card__footer .action button:hover {
    background: #fff;
    color: #080a30;
    font-weight: bold;
}

@media screen and (max-width: 568px) {
    .card .card__body .image img {
        max-height: 100px;
    }

    .card .card__body {
        flex-direction: column;
    }

    .card .card__body>.half{
        width: 100%;
    }

    .card .card__body .description p {
        margin: 30px 0 0 0;
    }
}
